@import './header';
@import './intro';
@import './section';
@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pirata+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--gray);
  color: var(--white);
}

:root {
  --white: #FFFFFF;
  --red: #ED042E;
  --darkred: #b40525;
  --lightred: #ffa8b8;
  --darkBlue: #2E353C;
  --gray: #59636A;
}

.interaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  &__btn {
    font-family: Oswald;
    background-color: var(--red);
    color: var(--white);
    font-weight: 600;
    margin-bottom: 40px;
    padding: 16px 48px;
    border: none;
    transition: 1s;
    cursor: pointer;

    &:hover {
      background-color: var(--darkred);
      transform: scale(1.2);
    }
  }

  &__arrow {
    transition: 1s;

    &:hover {
      transform: scale(1.5);
    }
  }

  @media (max-width: 950px) {
    margin-bottom: 0;

    &__btn {
      margin-bottom: 0;
    }
  }
}